@font-face {
    font-family: 'Comic-Sans';
    src: url('./Comic-Sans.ttf') format('ttf');
}


body {
    color: #ffffff;
    background: #484848;
    background-size: 1280px 720px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    max-width: 20px;
}

.warn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left: 5px solid rgba(255, 0, 0, 0.747);;;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.425);;
    /* background-color: #ffd3d3; */
}

a {
    color: #ffffff;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
}