@font-face {
  font-family: Metropolis-Bold;
  src: url("/files/Fonts/Metropolis-Bold.woff2");
}

* {
  cursor: none;
  box-sizing: border-box;
}

body {
 background-color: #000000;
 font-family: Metropolis-Bold;
 background: url("/files/img/BlackBG.jpg") no-repeat;
 background-size: 100% 100%;
}

#head {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 0px 10px 15px -7px #000000;
}

#headTitle {
	font-size: 1pc;
}

#main {
	margin: auto;
	width: 50%;
	position: relative;
	top:0;
	height: 100%;
	background-color: #ffffff;
	box-shadow: 0px 0px 15px 2px #000000;
}

#body {
    --ytd-comment-thumb-dimension: 32px;
    --ytd-pinned-comment-badge-margin-left: -2px;
    display: block;
    border-radius: 4px;
    margin-bottom: 8px;
    position: relative;
    margin-top: calc( -1 * var(--ytd-decorated-comment-background-offset-top,0px) );
    margin-left: calc( -1 * var(--ytd-decorated-comment-background-offset-left,0px) );
    padding-top: var(--ytd-decorated-comment-background-offset-top,0px);
    padding-left: var(--ytd-decorated-comment-background-offset-left,0px);
    --yt-endpoint-word-wrap: break-word;
    --yt-endpoint-word-break: break-word;
}

#link {
	cursor: pointer;
	text-decoration: none;
	color: #707070;
}

#link:hover {
	color: #000000;
}
